<div style="height: 10pt;">
    @if (ds.loading| async) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
</div>
 <table mat-table [dataSource]="ds" matSort>
  <ng-container matColumnDef="addr">
      <th i18n="@@address" mat-header-cell *matHeaderCellDef>Address</th>
      <td i18n-matTooltip="@@address" mat-cell *matCellDef="let v" matTooltip="Device address">
        {{ v.addr }}
      </td>
  </ng-container>
  <ng-container matColumnDef="activation">
    <th i18n="@@activation" mat-header-cell *matHeaderCellDef>Activation</th>
    <td i18n-matTooltip="@@activation" mat-cell *matCellDef="let v" matTooltip="Activation type: ABP or OTAA">
      {{ v.activation }}
    </td>
</ng-container>
<ng-container matColumnDef="class">
    <th i18n="@@class" mat-header-cell *matHeaderCellDef>Class</th>
    <td i18n-matTooltip="@@class-description" mat-cell *matCellDef="let v" matTooltip="Device class: A, B or C">
      {{ v.class }}
    </td>
</ng-container>
<ng-container matColumnDef="deveui">
    <th i18n="@@deveui" mat-header-cell *matHeaderCellDef>Device EUI</th>
    <td i18n-matTooltip="@@deveui" mat-cell *matCellDef="let v" matTooltip="Device EUI">
      {{ v.deveui }}
    </td>
</ng-container>
<ng-container matColumnDef="nwkSKey">
    <th i18n-matTooltip="@@nwkskey" mat-header-cell *matHeaderCellDef>Network session key</th>
    <td i18n-matTooltip="@@nwkskey" mat-cell *matCellDef="let v" matTooltip="Network session key">
      {{ v.nwkSKey }}
    </td>
</ng-container>
<ng-container matColumnDef="appSKey">
    <th i18n="@@appskey" mat-header-cell *matHeaderCellDef>App session key</th>
    <td i18n-matTooltip="@@appskey" mat-cell *matCellDef="let v" matTooltip="appSKey">
      {{ v.appSKey }}
    </td>
</ng-container>
<ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef>LoRaWAN version</th>
    <td mat-cell *matCellDef="let v" matTooltip="version">
      {{ v.version }}
    </td>
</ng-container>
<ng-container matColumnDef="appeui">
    <th i18n="@@appeui" mat-header-cell *matHeaderCellDef>App EUI</th>
    <td i18n-matTooltip="@@appeui" mat-cell *matCellDef="let v" matTooltip="App EUI">
      {{ v.appeui }}
    </td>
</ng-container>
<ng-container matColumnDef="appKey">
    <th i18n="@@appkey" mat-header-cell *matHeaderCellDef>App key</th>
    <td i18n-matTooltip="@@appkey" mat-cell *matCellDef="let v" matTooltip="App Key">
      {{ v.appKey }}
    </td>
</ng-container>
<ng-container matColumnDef="nwkKey">
    <th i18n="@@nwkkey" mat-header-cell *matHeaderCellDef>Network key</th>
    <td i18n-matTooltip="@@nwkkey" mat-cell *matCellDef="let v" matTooltip="Network key">
      {{ v.nwkKey }}
    </td>
</ng-container>
<ng-container matColumnDef="devNonce">
    <th i18n="@@devnonce" mat-header-cell *matHeaderCellDef>Device nonce</th>
    <td i18n-matTooltip="@@devnonce" mat-cell *matCellDef="let v" matTooltip="devNonce">
      {{ v.devNonce }}
    </td>
</ng-container>
<ng-container matColumnDef="joinNonce">
    <th i18n="@@joinnonce" mat-header-cell *matHeaderCellDef>Join nonce</th>
    <td i18n-matTooltip="@@joinnonce" mat-cell *matCellDef="let v" matTooltip="Join nonce">
      {{ v.joinNonce }}
    </td>
</ng-container>
<ng-container matColumnDef="name">
    <th i18n="@@name" mat-header-cell *matHeaderCellDef>Name</th>
    <td i18n-matTooltip="@@name-description" mat-cell *matCellDef="let v" matTooltip="Opional device name (up to 8 characters)">
      {{v.name}}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="edit(row)"></tr>
</table>
<mat-paginator [pageSize]="10"></mat-paginator>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <button i18n-matTooltip="@@add-device" mat-button color="primary" matTooltip="Add a new device" (click)="add()"><mat-icon>add</mat-icon></button>
</div>
