<div class="dlg">
    <div class="progress">
    @if(progress) {
    <mat-progress-bar class="progressbar" mode="indeterminate"></mat-progress-bar>
    }
    </div>
    <form #orderForm="ngForm" [formGroup]="formGroup" (ngSubmit)="login()">
        <div fxLayout="row" fxLayoutAlign="space-around center" [style.color]="success ? 'green' : 'red'">
            {{message}}
        </div>
        <p></p>
        <div fxLayout="column" fxLayoutAlign="stretch" >
            <div>
                <mat-form-field class="f">
                    <mat-label>Code</mat-label>
                    <input matInput type="text" placeholder="code" autocomplete="username" formControlName="login">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="f">
                    <mat-label>Access code</mat-label>
                    <input matInput type="password" placeholder="Access code" autocomplete="current-password" formControlName="password">
                </mat-form-field>
            </div>
            <div>
                <div fxLayout="row" fxLayoutAlign="end stretch">
                    <button mat-button (click)="cancel()">Cancel</button>  
                    <button color="primary" mat-button type="submit">Login</button>  
                </div>
            </div>
        </div>
    </form>
</div>