<div class="dlg">
    <div class="progress">
        @if (progress) {
            <mat-progress-bar class="progressbar" mode="indeterminate"></mat-progress-bar>
        }
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="save()">
        <div [style.color]="success ? 'green' : 'red'">
            {{message}}
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="@@address">Address</mat-label>
                <input i18n-placeholder="@@address-hint" matInput type="text" placeholder="Address (hex)" formControlName="addr">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n="@@name">Name</mat-label>
                <input i18n-placeholder="@@name-hint" matInput type="text" placeholder="device name (optional)" autocomplete="name" formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="@@activation">Activation</mat-label>
                <input i18n-placeholder="@@activation-hint" matInput type="text" placeholder="Activation type: ABP or OTAA" formControlName="activation" [matAutocomplete]="acActivation">
            </mat-form-field>
            <mat-autocomplete #acActivation="matAutocomplete">
                <mat-option value="ABP">ABP</mat-option>
                <mat-option value="OTAA">OTAA</mat-option>
            </mat-autocomplete>
            <mat-form-field>
                <mat-label i18n="@@class">Class</mat-label>
                <input i18n-placeholder="@@class" matInput type="text" placeholder="Class" formControlName="class" [matAutocomplete]="acClass">
            </mat-form-field>
            <mat-autocomplete #acClass="matAutocomplete">
                <mat-option value="A">A</mat-option>
                <mat-option value="B">B</mat-option>
                <mat-option value="C">C</mat-option>
            </mat-autocomplete>
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="@@deveui">Device EUI</mat-label>
                <input matInput type="text" placeholder="Device EUI" formControlName="deveui">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n="@@appeui">App EUI</mat-label>
                <input i18n-placeholder="@@appeui" matInput type="text" placeholder="App EUI" formControlName="appeui">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="@@nwkskey">Network session key</mat-label>
                <input i18n-placeholder="@@nwkskey-hint" matInput type="text" placeholder="Network session key (hex)" formControlName="nwkSKey">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n="@@appskey">App session key</mat-label>
                <input i18n-placeholder="@@appskey-hint" matInput type="text" placeholder="App session key (hex)" formControlName="appSKey">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="@@nwkkey">Network key</mat-label>
                <input i18n-placeholder="@@nwkkey-hint" matInput type="text" placeholder="Network key (hex)" formControlName="nwkKey">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n="@@appkey">App key</mat-label>
                <input i18n-placeholder="@@appkey-placeholder" matInput type="text" placeholder="App key (hex)" formControlName="appKey">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="@@devnonce">Device nonce</mat-label>
                <input i18n-placeholder="@@devnonce-hint" matInput type="text" placeholder="Device nonce (hex)" formControlName="devNonce">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n="@@joinnonce">Join nonce</mat-label>
                <input i18n-placeholder="@@joinnonce-hint" matInput type="text" placeholder="Join nonce (hex)" formControlName="joinNonce">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="@@version">Version</mat-label>
                <input i18n-placeholder="@@version-hint" matInput type="text" placeholder="version (x.x.x)" formControlName="version" [matAutocomplete]="acVersion">
            </mat-form-field>
            <mat-autocomplete #acVersion="matAutocomplete">
                <mat-option value="1.0.0">1.0.0</mat-option>
                <mat-option value="1.0.1">1.0.1</mat-option>
                <mat-option value="1.0.2">1.0.2</mat-option>
                <mat-option value="1.0.3">1.0.3</mat-option>
                <mat-option value="1.0.4">1.0.4</mat-option>
                <mat-option value="1.1.0">1.1.0</mat-option>
            </mat-autocomplete>
            
        </div>
        <img #qr alt="" width="98" height="98" [src]="urn.url(value.addr)"/>
        <img #qr alt="" width="98" height="98" [src]="urn.urlProprietary(value.addr)"/>

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button i18n-matTooltip="@@remove" mat-button type="button" color="accent" matTooltip="Remove" (click)="rm()"><mat-icon>delete</mat-icon></button>  
            <button i18n-matTooltip="@@cancel" i18n="@@cancel" mat-button type="button" matTooltip="Cancel" (click)="cancel()">Cancel</button>  
            <button i18n="@@save" i18n-matTooltip="@@save" color="primary" mat-button type="submit" matTooltip="Save">Save</button>  
        </div>
    </form>
</div>
